<%= render :partial => 'main/global/header' %>

<div class="container-fluid">
  <div class="row-fluid">
      <% if current_user %>

        <form class="well form-horizontal" id="spotify-search" action="" method="get">
          <div class="control-group">
            <label class="control-label" for="query">Search</label>
            <div class="controls">
              <input type="text" class="input-medium search-query" name="query" data-provide="typeahead" autocomplete="off">
              <i class="icon-refresh" id="loading-query"></i>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="search-type">Type</label>
            <div class="controls">
              <label class="radio inline">
                <input type="radio" name="search-type" id="type-artist" value="artist" checked> Artist
              </label>
              <label class="radio inline">
                <input type="radio" name="search-type" id="type-track" value="track"> Track
              </label>
              <label class="radio inline">
                <input type="radio" name="search-type" id="type-album" value="album"> Album
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" id="save-search">Save Artist</button>
        </form>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <%= render :partial => '/main/partials/listing', :locals => { :object => @artists, :type => 'artist' } %>
        </div>
        <div class="span4">
          <%= render :partial => '/main/partials/listing', :locals => { :object => @tracks, :type => 'track' } %>
        </div>
        <div class="span4">
          <%= render :partial => '/main/partials/listing', :locals => { :object => @albums, :type => 'album' } %>
        </div>

      <% else %>

        <div class="hero-unit">
          <h1>Welcome to ListenList</h1>
          <p>Sign-in above with your Twitter account and begin adding the artists, songs, and albms that you want to listen to!</p>
          <p><a class="btn btn-primary btn-large" href="/about" data-toggle="modal">Learn more &raquo;</a></p>
        </div>

      <% end %>

  </div><!--/row-->

  <hr>

  <%= render :partial => 'main/global/footer' %>
</div><!--/.fluid-container-->