<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @track.name %>
</p>

<p>
  <b>Key:</b>
  <%= @track.key %>
</p>

<p>
  <b>Canstream:</b>
  <%= @track.canStream %>
</p>


<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
