<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :spotify_uri %><br />
    <%= f.text_field :spotify_uri %>
  </div>
  <div class="field">
    <%= f.label :spotify_url %><br />
    <%= f.text_field :spotify_url %>
  </div>
  <div class="field">
    <%= f.label :listened_to %><br />
    <%= f.check_box :listened_to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
