<h1>Listing albums</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Spotify uri</th>
    <th>Spotify url</th>
    <th>Listened to</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @albums.each do |album| %>
  <tr>
    <td><%= album.name %></td>
    <td><%= album.spotify_uri %></td>
    <td><%= album.spotify_url %></td>
    <td><%= album.listened_to %></td>
    <td><%= link_to 'Show', album %></td>
    <td><%= link_to 'Edit', edit_album_path(album) %></td>
    <td><%= link_to 'Destroy', album, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Album', new_album_path %>
