<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Spotify uri:</b>
  <%= @album.spotify_uri %>
</p>

<p>
  <b>Spotify url:</b>
  <%= @album.spotify_url %>
</p>

<p>
  <b>Listened to:</b>
  <%= @album.listened_to %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
